header {
    text-align: center;
    background-color: #F4FCD9;
    padding: 40px;
}
aside{
    padding: 40px;
}
.navegador {
    width: 100%;
    height: 60px;
    background-color: #080438da;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#menu {
grid-column: 2/5;
}
.form_casillas{
    font-variant: small-caps;
}
.container-inicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 40px;    
}
.carrusel-inicio {
    grid-column: 2/5;
    text-align: center;
}
.carousel-inner {
    text-align: center;
}
footer {
    color: #fff;
    text-align: center;
    background-color: #080438da;
    padding: 15px;
}
.container {
    padding: 20px;
}

/* Responsive */
@media (min-width: 300px) and (max-width: 480px) {
    * {
        font-size: 1rem;
    }

    body {
        height: 100vh;
        width: 100vw;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    navegador {
        margin: 0 1.5rem 0 1.5rem;
    }

    navegador ul {
        display: none;
    }
    
    #menu {
        display: grid;
        grid-template-columns: 100%;
        margin: 0 auto;
    }
    main{
        font-size: xx-small;
    }
}
